In [ ]:
import pandas as pd

# Load the dataset
titanic_data = pd.read_csv('titanic.csv')

# Print concise summary
titanic_data.info()

In [1]:

# Column labels
column_labels = titanic_data.columns
print("Column Labels:", column_labels)

# Shape of the dataset
dataset_shape = titanic_data.shape
print("Shape of the Dataset:", dataset_shape)

# Data types of the dataset
data_types = titanic_data.dtypes
print("Data Types:", data_types)

NameError: name 'titanic_data' is not defined

In [ ]:
# Column labels
column_labels = titanic_data.columns
print("Column Labels:", column_labels)

# Shape of the dataset
dataset_shape = titanic_data.shape
print("Shape of the Dataset:", dataset_shape)

# Data types of the dataset
data_types = titanic_data.dtypes
print("Data Types:", data_types)

In [ ]:
pivot_multiple_indexes = pd.pivot_table(titanic_data, index=['Pclass', 'Sex'])
print(pivot_multiple_indexes)

In [ ]:
survival_rate_by_gender_class = pd.pivot_table(titanic_data, values='Survived', index='Pclass', columns='Sex', aggfunc='mean')
print(survival_rate_by_gender_class)

In [ ]:
survival_rate_by_gender_age_class = pd.pivot_table(titanic_data, values='Survived', index=['Pclass', 'Age'], columns='Sex', aggfunc='mean')
print(survival_rate_by_gender_age_class)